.deta{
    padding-top: 100px;
}

.deta h1{
    color: black;
}
.line{
    width: 200px;
    height: 2px;
    background-color: black;
}
.accord{
    width: 20vw;
    height: 20vh;
    border: none;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box input{
width: 20px;
height: 20px;
}
.price input{
    width: 8vw;
    height: 30px;
}
.child1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
 
}
.child1 h2{
    color: black;
}
.accord h1{
    color: black;
}
.accord ul li{
    list-style:circle!important;
}
.child1{
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.faterdeta{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
}
.child2 h1{
    color: blue;
}